*
 {
    color: black;
    font-family: Helvetica;
    box-sizing: border-box;
 }

.content2 {
    display: flex;
    flex-wrap: wrap;
    background: #ddd;
}

.right {
    padding: 20px;
    flex: 100%;
    text-align: center;
}


