body, html{
    margin: 0;
    padding: 0;
    background-color: white;
}

.header {
    position: relative;
    left: 3cm;
    top: 0.5cm;
    font-size: 50px;
    color: whitesmoke;
}
 header {
    background-image: url("beuyhu.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 }

 .start {
    display: flex;
    flex-direction: row;
 }

.image {
    position: relative;
    top: 52px;
    left: -12cm;
    border-radius: 35px;
}


.intro { 
    height: 20px;
    position: relative;
    top: 2.5cm;
    left: -5.4cm;
    color: whitesmoke;
}

*
 {
    color: black;
    font-family: Helvetica;
    box-sizing: border-box;
}

.welcome {
    text-align: center;
}

.me {
    text-align: center;
    color: black;

}

.navbar {
    display: flex;
    flex-direction: row;
    background-color: #333;
    border: 1px solid white;
}

.navbar a {
    color: white;
    padding: 13px 20px;
    text-decoration: none;
    text-align: center;
    border: 1px solid white;
    border-top: none;
    border-bottom: none;
    border-left: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

.life {
    text-align: center;
    font-family: Tahoma;
    color: black;
}

.studies {
    text-align: center;
    color: black;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.side {
    flex: 25%;
    background-color: white;
    padding: 20px;
    border-right: 3px solid black;
}

.right {
    flex: 25%;
    background-color: white;
    padding: 20px;
    border-left: 3px solid black;
}

.main {
    flex: 50%;
    background-color: white;
    padding: 20px;
}

.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    border-top: 3px solid black;
}

@media screen and (max-width: 700px){
    .row, .navbar {
        flex-direction: column;
    }
}

@media screen and (max-width: 700px){
    .header {
        text-align: center;
        font-size: 40px;          
    }
}

@media screen and (max-width: 700px){
    .image, .intro {
        opacity: 0
    }
}
.game, .game2 {
    margin: 5px; 
    width: 110px;
    border-radius: 20px; 
}


