body, html{
    margin: 0;
    padding: 0;
}

.header {
    font-size: 50px;
    color: whitesmoke;
    position: absolute;
    left: 2em;
    top: 5px;
}
 header {
    background-image: url("anni.jpg");
    background-repeat: no-repeat;
 }

img {
    position: absolute;
    top: 45px;
    left: 10px;
}


.intro {
    position: absolute;
    top: 2.2cm;
    left: 2.9cm;
}

* {
    color: whitesmoke;
    font-family: Helvetica;
}

.welcome {
    text-align: center;
}

.me {
    text-align: center;
    color: black
}

.navbar {
    position: absolute;
    top: 4.65cm;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333; 
    width: 1920px;
    border-bottom: solid 1px white;
    border-top: solid 1px white
}

li {
    float: left; 
    border-right: 1px solid white;
}



li a{
    display: block;
    color: white;
    text-align: center;
    padding: 10px 15px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.life {
    text-align: center;
    font-family: Tahoma;
    color: black
}

.studies {
    text-align: center;
    color: black;
}
