body{
    background-image: url("anni.jpg");
}



.header {
    font-size: 50px;
    color: whitesmoke;
    position: absolute;
    left: 2em;
    top: 1px;
}

img {
    position: absolute;
    top: 45px;
}


.intro {
    position: absolute;
    top: 2.2cm;
    left: 2.9cm;
}
* {
    color: whitesmoke;
    font-family: Helvetica;
}

.welcome {
    text-align: center;
}

.about {
    text-align: center;
}

.me {
    text-align: center;
}

.navbar {
    position: absolute;
    top: 4.29cm;
    
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333; 
    width: 1904px;
    border-bottom: solid 1px white;
}

li {
    float: left; 
    border-right: 1px solid white;
}



li a{
    display: block;
    color: white;
    text-align: center;
    padding: 11px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.mylife, .life {
    text-align: center;
    font-family: Tahoma;
}

.studies, p {
    text-align: center;
}